<div class="order_wrapper">
  <div class="lay__site order">
    <h1>Оформлення замовлення</h1>
    <div *ngIf="hasSize(); else noSizesAvailable" class="about">
      <img src="{{product?.image}}" alt="">
      <div class="text">
        <h3>{{ product.title }}</h3>
        <h3 *ngIf="product.size">{{ product.size }}м.</h3>
      </div>
      <h4 class="price">Ціна: {{ product.price }}</h4>
    </div>
    <ng-template #noSizesAvailable>
      <div *ngIf="product" class="about">
        <img src="{{product.gallery[0]}}" alt="">
        <div class="text">
          <h3>{{ product.title }}</h3>
          <h3 *ngIf="product.size">Розмір:{{ product.size }}м.</h3>
        </div>
        <h4>Ціна: {{ product.price }}</h4>
      </div>
    </ng-template>
    <div class="contacts">
      <h2>Введіть свої дані</h2>
      <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
        <input type="text" name="Name" placeholder="Введіть ваше ім'я" ngModel required>
        <input type="text" name="LastName" placeholder="Введіть ваше прізвище" ngModel required>
        <input type="text" name="Phone" placeholder="Введіть номер телефону" ngModel required>
        <input type="text" name="City" placeholder="Введіть ваше місто/село" ngModel>
        <button class="btn_buy" type="submit">Замовити</button>
      </form>
    </div>
  </div>
</div>
