<div *ngIf="productSizes">
  <h1>{{ productSizes.title }}</h1>
</div>

<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <input type="text" name="Name" placeholder="Введіть ваше ім'я" ngModel required>
  <input type="text" name="LastName" placeholder="Введіть ваше прізвище" ngModel required>
  <input type="text" name="Phone" placeholder="Введіть номер телефону" ngModel required>
  <input type="text" name="City" placeholder="Введіть ваше місто/село" ngModel>
  <button type="submit">Send</button>
</form>