.details_wrapper {
  color: #4d5d45;

  h1 {
    margin: 15px 0 0 20px;
  }

  .lay__site {
    .details {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      gap: 20px;

      @media (max-width: 860px) {
        flex-direction: column;
      }

      .photos {
        flex-basis: calc(40% - 20px);
        position: relative;
      }

      .sizes {
        flex-basis: calc(40% - 20px);
        display: flex;
        flex-direction: column;
        gap: 10px;

        .size {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 10px;

          @media (max-width: 440px) {
            flex-direction: column;
          }
        }

        .description {
          padding: 40px 0;
        }

        .size:not(:last-child) {
          border-bottom: 0.5px solid #4d5d45;
        }

        img {
          width: 80px;
        }
      }
    }

    .description {
      padding: 0 20px;
    }
  }
}
