.details_wrapper {
    color: #4d5d45;
    .lay__site {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;
        @media (max-width: 610px) {
            flex-direction: column;
        }

        .photos {
            flex-basis: calc(40% - 20px);
            h1 {
                text-align: center;
                margin-bottom: 15px;
            }
            .gallery {

                img {
                    width: 100%;
                    height: auto;
                }

                .more_photos {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 10px;

                    a {
                        width: calc(100% / 3 - 7px);
                    }
                }

            }
            .description {
                margin: 15px 0;
            }
        }

        .sizes {
            flex-basis: calc(40% - 20px);
            margin-top: 32px;

            .size {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
                @media (max-width: 440px) {
                    flex-direction: column;
                }
            }

            .size:not(:last-child) {
                border-bottom: 0.5px solid #4d5d45;
            }

            img {
                height: 80px;
                width: 70px;
            }
        }

        .data {
            @media (max-width: 860px) {
                display: none;
            }
            .delivery {
                margin: 32px 0;
            }
        }
    }
}

div {
    img {
        width: 500px;
    }
}

.buy {
    flex-basis: calc(40% - 20px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    img {
        width: 100px;
    }
}