<div class="wrapper__leds">
    <div class="lay__site leds">
        <div class="menu">
            <h1>Гірлянди LED</h1>
            <div class="products">
                <div class="product" *ngFor="let led of leds" [routerLink]="['/wreath/' + led.id]">
                    <img src="{{led.gallery[0]}}" alt="">
                    <div class="name"><p>{{led.title}}</p></div>
                    <div class="product__bottom">
                        <div>Від</div>
                        <div *ngIf="led.sale" class="old_price">
                            ₴{{ (led.price / (1 - 0.40)) | number: '1.0-0' }}
                        </div>  
                        <div class="price">₴{{led.price}}</div>
                    </div>
                    <div class="label">
                        <div *ngIf="led.bestseller" class="best_sellers_banner"><span>Хіт продажу</span></div>
                        <div *ngIf="led.sale" class="sale-banner"><span>Акція</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
