.wrapper__leds {
    margin-top: 20px;
    .leds {
        display: flex;
        gap: 20px;
        justify-content: center;

        .menu {
            max-width: calc(80% - 20px);
            @media (max-width: 860px) {
              text-align: center;
            }
            h1 {
              font-size: 47px;
              font-weight: 500;
              color: #4d5d45;
              
              @media (max-width: 860px) {
                text-align: center;
          }
            }
        }
    }
}