.data {
  @media (max-width: 860px) {
    display: none;
  }
  .delivery {
    padding:0 0 10px 0;
  }

  .paying {
    border-top: 0.5px solid #4d5d45;
    padding: 10px 0;
  }
}
 h4 {
  margin: 0 0 5px 0;
 }