.data {
  @media (max-width: 860px) {
    display: none;
  }
  div {
    border-top: 0.5px solid #4d5d45;
    margin: 15px 0;
    h3 {
      margin: 25px 0;
    }
  }
  // .delivery {
  //   margin: 32px 0;
  // }
}
