.header_wrapper {
    letter-spacing: 0.1em;
    .header__top {
        .sale {
            background-color: #4D5D45;
            color: #fff;
            text-align: center;
            padding: 15px;
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 120px;
            position: relative;
            @media (max-width: 860px){
                flex-direction: column;
            }
            .social button{
                margin: 15px;
                border: none;
                background: none;
                color: #4D5D45;
                &:hover {
                    cursor: pointer;
                }
            }
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 5px;
                @media (max-width: 860px){
                    text-align: center;
                    margin-top: 20px;
                }
                a {
                    text-decoration: none;
                    color: #4D5D45;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .logo {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             @media (max-width: 860px){
                position: static;
                top: auto;
                left: auto;
                transform: none;
            }
             button {
                border: none;
                background-color: #fff;
                font-size: 35px;
                font-weight: bolder;
                color: #4D5D45;
                &:hover {
                    cursor: pointer;
                    color: #637c57;
                }
             }
            }
            
            .social {
                @media (max-width: 860px){
                    display: none;
                }
            }
        }
    }

    .header__main {
        font-size: 22px;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        @media (max-width: 610px){
            border: none;
        }
        .nav {
            width: 70%;
            display: flex;
            justify-content: space-between;
            @media (max-width: 610px) {
                flex-direction: column;
                width: 100%;
                border-bottom: 0.5px solid #4D5D45;
                padding-bottom: 10px;
            }
            li {
                height: 100%;
                align-items: center;
                @media (max-width: 610px) {
                    width: 100%;
                    border: 1px solid #4D5D45;
                    border-radius: 3px;
                    margin: 5px 0;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #4D5D45;
                    height: 100%;
                    padding: 3px 60px 0;
                    border-bottom: 3px solid;
                    border-color: transparent;

                    &:hover {
                        color: #4d5d45;
                        // font-weight: 700;
                        border-color: inherit;
                    }
                }
            }
        }
    }

    .header_bottom {
        background-color: #4D5D45;
        .strengths {
            font-size: 14px;
            display: flex;
            justify-content: center;
            color: #fff;
            @media (max-width: 860px){
                display: none;
            }
            li {
                padding: 15px 60px;
            }
        }
    }

}
