<div class="header_wrapper">
    <div class="header__top">
        <div class="lay__site top">
            <div class="contacts">
                <a href="tel:+380991926097">+380991926097</a>
                <a href="vania022000gmail.com">vania022000gmail.com</a>
            </div>
            <div class="logo">
                <!-- <button routerLink="basic">logo</button> -->
                <button routerLink="basic"><img src="../../../assets/image/961dc959-fdb3-43a7-92f5-1b193516d14b.png" alt=""></button>
                <!-- <img src="" alt=""> -->
            </div>
            <div class="social">
                <button>i</button>
                <button>t</button>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="lay__site">
            <ul class="nav">
                <li><a href="" routerLink="tree"><span></span>Ялинки</a></li>
                <li><a href="" routerLink="garlangs"><span></span>Вінки</a></li>
                <li><a href="" routerLink="wreaths"><span></span>Гірлянди</a></li>
            </ul>
    </div>
</div>


  

  
  
  