<div class="details_wrapper">
    <div class="lay__site">
      <div class="photos" *ngIf="product">
        <h1>{{product.title}}</h1>
        <div class="gallery">
          <a class="main_photo" data-fancybox="gallery" href="{{product.image[0]}}">
            <img src="{{product.image[0]}}" />
          </a>
          <div class="more_photos">
            <a *ngFor="let photo of product.image.slice(1)" data-fancybox="gallery" href="{{photo}}">
              <img src="{{photo}}" />
            </a>
          </div>
          
        </div>
      </div>
      <div class="buy">
        <img src="../../../assets/image/vinok_rozovuy-800x1.jpg" alt="">
        <p>Ціна: 2999</p>
        <button class="btn_buy">Купити</button>
        <!-- <button class="btn_buy" [routerLink]="['/productToOrder', size.id]">Купити</button> -->
      </div>
      <div class="data">
        <div class="delivery">
          <h3>Доставка</h3>
          <p>На відділенна нової пошти</p>
          <p>Доставка кур'єром</p>
        </div>
        <div class="paying">
          <h3>Оплата замовлення</h3>
          <p>При отриманні</p>
          <p>На рахунок</p>
        </div>
      </div>
    </div>
  </div>
  