.basic {
    color: #4d5d45;
    .fist__section {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        @media (max-width: 610px) {
            flex-direction: column;
        }
        .text {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-color: #4d5d45;
            color: #fff;
            @media (max-width: 610px) {
                padding-bottom: 20px;
            }
            h1 {
                font-size: 60px;
                margin: 20px 0;
                @media (max-width: 610px) {
                    font-size: 30px;
                }
            }
            p {
                letter-spacing: 0.2em;
            }
        }
        .photo {
            flex: 1;
            height: 600px;
            background: url("../../../assets/image/IMG_7203.jpg") no-repeat center/cover;
            padding: 20px;
            @media (max-width: 610px) {
                flex-basis: auto;
            }
            h1, p {
                text-align: center;
                color: red;
            }
        }
    }
    .title {
        margin: 20px 0;
        padding: 15px;
        border-top: 1px solid #4d5d45;
        border-bottom: 1px solid #4d5d45;
        text-align: center;
        .icons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
            @media (max-width: 610px) {
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }
    .led {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #4d5d45;
        color: #fff;
        @media (max-width: 610px) {
            flex-direction: column;
        }
        .text {
            flex: 1;
            font-size: 1.2em;
            line-height: 1.5;
            text-align: center;
            @media (max-width: 610px) {
                padding: 20px 0;
            }
            h1 {
                @media (max-width: 610px) {
                    font-size: 30px;
                }
            }
        }
        .photo {
            flex: 1;
            height: 700px;
            background: url("../../../assets/image/1M0A9195-2.jpg") no-repeat center/cover;
            @media (max-width: 610px) {
                width: 100%;
                flex-basis: auto;
            }
        }
    }
    .reviews {
        margin-top: 15px;
        h1 { text-align: center; }
        .all__reviews {
            padding: 0 17%;
            @media (max-width: 1024px) {
                padding: 0;
            }
            .rewiew {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 100px;
                padding: 40px;
                border-bottom: 1px solid #4d5d45;
                @media (max-width: 1024px) {
                    flex-direction: column;
                    gap: 20px;
                    text-align: center;
                }
                .text {
                    width: 50%;
                    p { margin-top: 10px; }
                }
                .stars {
                    display: flex;
                    flex-direction: column;
                    .star { color: #FFC107; }
                }
            }
        }
    }
    .best_sellers, .sales {
        margin-top: 15px;
        h1 { text-align: center; }
    }
}
