<div class="details_wrapper" *ngIf="product !== null">
  <div class="lay__site">
    <div class="photos">
      <h1>{{ product.title }}</h1>
      <app-product-gallery [gallery]="product.gallery || []"></app-product-gallery>
      <div class="description">
        <p>{{ product.description }}</p>
      </div>
    </div>
    <div *ngIf="product.size.length > 0; else noSizesAvailable" class="sizes">
      <div class="size" *ngFor="let size of product.size">
        <img [src]="size.image" alt="">
        <p>Розмір: {{ size.size }} м</p>
        <p>Ціна: {{ size.price | currency: 'UAH' }}</p>
        <button class="btn_buy" [routerLink]="['/order/tree/' + product.id + '/' + size.id]">Купити</button>
      </div>
    </div>
    <ng-template #noSizesAvailable>
      <div class="buy">
        <img src="{{product.gallery[0]}}" alt="">
        <p>Ціна: {{ product.price | currency: 'UAH' }}</p>
        <button class="btn_buy" [routerLink]="['/order/tree/' + product.id]">Купити</button>
      </div>
    </ng-template>

    <app-delivery-info></app-delivery-info>
  </div>
</div>
