<div class="wrapper__gerlands">
    <div class="lay__site gerlands">
        <div class="filters">
            <div class="colors">
                <h3>Колір:</h3>
                <form>
                    <label>
                        <input type="radio" name="option" value="option1">
                        Зелений
                    </label><br>
                    <label>
                        <input type="radio" name="option" value="option2">
                        Блакитний
                    </label><br>
                </form>
            </div>
        </div>
        <div class="menu">
            <h1>Штучні вінки</h1>
            <div class="products">
                <div class="product" *ngFor="let gerland of gerlands" [routerLink]="['/garland', gerland.id]">
                    <img src="../../../assets/image/vinok_rozovuy-800x1.jpg" alt="">
                    <div class="name"><p>{{gerland.title}}</p></div>
                    <div class="product__bottom">
                        <div class="price">Від {{gerland.price | currency:"UAH"}}</div>
                        <!-- <button class="btn_buy" [routerLink]="['/product', tree.id]">Купити</button> -->
                        <button class="btn_buy">Купити</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>