.wrapper__gerlands {
    margin-top: 20px;
    .gerlands {
        display: flex;
        gap: 20px;

        .filters {
            width: 20%;
            .colors {
                border: 1px solid #e6e9f0;
                border-radius: 5px;
                padding: 20px;
            }
        }

        .menu {
            max-width: calc(80% - 20px);
            h1 {
                font-size: 47px;
                font-weight: 500;
            }
            .products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;
                margin-top: 30px;
                .product {
                    width: calc(100% / 3 - 20px);
                    padding: 10px;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                    img {
                        width: 100%;
                        // height: 550px;
                    }

                    .name {
                        margin: 10px 0;
                    }
                    .product__bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}